{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container-fluid px-3">
    <nav class="nav nav-underline gap-3">
        <a class="nav-link px-5"  
           style="color: black;" 
           href="{% url 'Bibliotecario:teste' %}">
            Início
        </a>
        <a class="nav-link px-5" style="color: black;" 
           href="{% url 'Bibliotecario:emprestimos_atuais' %}">
            Empréstimos
        </a>
        <a class="nav-link active px-5" aria-current="page"
           style="color: black;" 
           href="{% url 'Bibliotecario:livros_adm' %}">
            Acervo
        </a>
        <a class="nav-link px-5" style="color: black;" 
           href="{% url 'Bibliotecario:emprestimos_historico' %}">
            Histórico
        </a>
        <a class="nav-link px-5" style="color: black;" 
           href="{% url 'Bibliotecario:usuarios' %}">
            Perfis
        </a>
        <a class="nav-link px-5" style="color: black;" 
           href="{% url 'Bibliotecario:dashboard' %}">
            Relatórios
        </a>
    </nav>
</div>

<div class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2 col-md-12">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <div class="mx-auto my-3 bg-secondary rounded-circle" style="width: 120px; height: 120px;"></div>
                    
                    <h5 class="card-title mb-4">Estatísticas</h5>

                    <ul class="list-group list-group-flush text-start">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Livros Totais
                            <span class="badge bg-primary rounded-pill">{{ livros.count }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total de Usuários
                            <span class="badge bg-primary rounded-pill">{{ usuarios.count }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Empréstimos Ativos
                            <span class="badge bg-primary rounded-pill">{{ emprestimos.count }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total de Multas
                            <span class="badge bg-primary rounded-pill">0</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-12">
            
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h4 class="card-title">Informações</h4>
                    <div class="d-flex justify-content-start gap-3 mt-3">
                        <a href="#" class="btn btn-primary">Livros Totais: {{ livros.count }}</a>
                    </div>
                </div>
            </div>

            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h4 class="card-title">Acervo</h4>
                    <div class="table-responsive mt-3">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>Livro</th>
                                    <th>Editora</th>
                                    <th>Autor</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for livro in livros %}
                                <tr>
                                    <td>{{ livro.nome }}</td>
                                    <td>{{ livro.editora }}</td>
                                    <td>{{ livro.autor }}</td>
                                    <td>{{ livro.status }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">Nenhum livro encontrado.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end mt-2">
                        <a href="#" class="btn btn-primary">Ver mais</a>
                    </div>
                </div>
            </div>

            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h4 class="card-title">Adicionar Livro</h4>
                    <div class="col-md-8 offset-2">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ livro_form|crispy }}
                            {{ genero_form|crispy }}
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h4 class="card-title">Adicionar Categoria</h4>
                    <div class="col-md-8 offset-2">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>

        

        </div>
    </div>
</div>
{% endblock content %}