{% extends "base.html" %}
{% block title %}Adicionar Categoria{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-8 offset-2 my-5 py-2">
    <h2>Adicionar Categoria</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>

    <hr>
    <h4>Gêneros cadastrados:</h4>
    {% if generos %}
        <ul class="list-group">
            {% for g in generos %}
                <li class="list-group-item">{{ g.nome_genero }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info">Nenhum gênero ainda.</div>
    {% endif %}
</div>
{% endblock %}
