{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="col-12 col-xl-8 offset-xl-2 mt-5">
            <h1 class="mb-3">Sobre o livro</h1>

            <div class="d-flex" style="background-color: #f5f5f5;">
                <img src="{{ livro.imagem.url }}" class="img-thumbnail col-4">

                <div class="p-3 container-fluid ms-md-5">
                    <h1 class="col-6"> {{ livro.nome }} </h1>

                    <p class="mb-5 pb-md-5">{{ livro.autor }}</p>
                    <p class="mb-5">{{ livro.descricao }}</p>

                    <p class="mb-5 pt-md-5 pb-md-5">Categoria: {{ livro.categoria}}</p>

                    <div class="container d-flex ps-0">

                        <div class="col-3 me-md-5 me-4">
                            <p>Data publicação:</p>
                            <p>{{ livro.data_publicacao }}</p>
                        </div>

                        <div class="col-3 me-md-5 me-4 ps-3 pe-3" style="border-left: 1px solid black; border-right: 1px solid black;">
                            <p>Editora:</p>
                            <p>{{ livro.editora }}</p>
                        </div>

                        <div class="col-3 me-md-5 me-4">
                            <p>Disponibilidade:</p>
                            {% if livro.status == "disponivel" %}
                                <span class="badge bg-success">Disponível</span>
                            {% else %}
                                <span class="badge bg-danger">Emprestado</span>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 col-xl-8 offset-xl-2 mt-5">
            <h1>Informações importantes </h1>
            <p>Leia atentamente antes de seguir:</p>
        </div>

    </div>


{% endblock content %}