{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    textarea {
        resize: none;
    }
    </style>

    <div class="container-fluid">
        <div class="col-12 col-xl-8 offset-xl-2 mt-5">
            <h1 class="mb-3">Sobre o livro</h1>

            <div class="d-flex" style="background-color: #fafafa;">
                
                    {% if livro.imagem %}
                        <img src="{{ livro.imagem.url }}" class="img-thumbnail col-4">
                    {% else %}
                        <img src="https://via.placeholder.com/150x200?text=Sem+Capa" class="card-img-top" alt="Sem capa">
                    {% endif %}

                <div class="p-3 container-fluid ms-md-5">
                    <h1 class="col-6"> {{ livro.nome }} </h1>

                    <p class="mb-5 pb-md-5">{{ livro.autor }}</p>
                    <p class="mb-5">{{ livro.descricao }}</p>

                    <p class="mb-5 pt-md-5 pb-md-5">Categoria: {{ livro.categoria}}</p>

                    <div class="container d-flex ps-0">

                        <div class="col-3 me-md-5 me-4">
                            <p>Data publicação:</p>
                            <p>{{ livro.data_publicacao }}</p>
                        </div>

                        <div class="col-3 me-md-5 me-4 ps-3 pe-3" style="border-left: 1px solid black; border-right: 1px solid black;">
                            <p>Editora:</p>
                            <p>{{ livro.editora }}</p>
                        </div>

                        <div class="col-3 me-md-5 me-4">
                            <p>Disponibilidade:</p>
                            {% if livro.status == "disponivel" %}
                                <span class="badge bg-success">Disponível</span>
                            {% else %}
                                <span class="badge bg-danger">Emprestado</span>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 col-xl-8 offset-xl-2 mt-5" id="acoes">
            
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}"><h2 class="ps-5">Faça login para poder pedir empréstimos</h2></a>
            
            {% elif not user_data.emprestimos and not user_data.reservas %}
            <h1>Ações:</h1>
            
                {% if livro.status == 'disponivel'%}
                    <button type="button" onclick="confirm()"  class="btn btn-outline-primary inline" style="color: blue;">Emprestimo</button>
                
                {% else %}
                    <button type="button" onclick="confirm()" class="btn btn-outline-primary inline" style="color: blue;">Reservar</button>
                
                {% endif %}

            {% else %}
                <h3 style="color: red;">Você já reservou/emprestou este livro</h3>
            {% endif %}
        </div>
    </div>

    <script>
        function confirm(){
            document.getElementById('avaliacoes').innerHTML = ''

            document.getElementById('acoes').innerHTML =
            `        
            <h1>Informações importantes:</h1>
            <h3>Leia atentamente antes de prosseguir</h3>
            
            <br><br>
            
                {% if livro.status == 'disponivel'%}

                    <div class="col-10 p-5 mb-3 offset-1" style="border: 1px solid gray; background-color: #fafafa;">
                        <h3>Prazo de retirada</h3>
                        Você tem 7 dias para retirar o livro. Caso não retire, o empréstimo será cancelado.
                    </div>

                    <div class="col-10 p-5 mb-5 offset-1" style="border: 1px solid gray; background-color: #fafafa;">
                        <h3>Período de empréstimo</h3>
                        Uma vez retirado, você terá duas semanas para utilizar o livro. Para mais tempo, solicite aumento de prazo na área de seu perfil.
                    </div>

                    <a href="{% url 'criar_emprestimos' livro.id user.id %}"> <button type="button" class="btn btn-outline-primary inline" style="color: blue;">Emprestimo</button></a> 
                
                {% else %}

                    <div class="col-10 p-5 mb-5 offset-1" style="border: 1px solid gray; background-color: #fafafa;">
                        <h3>Alerta de disponibilidade</h3>
                        Ao confirmar a reserva você será colocado na fila de espera.<br>
                        Você será notificado quando o livro estiver disponível para ser retirado na biblioteca.
                    </div>

                    <a href="{% url 'criar_reserva' livro.id user.id %}"> <button type="button" class="btn btn-outline-primary inline" style="color: blue;">Confirmar Reserva</button></a>
                
                {% endif %}
            `
        }
    </script>

    <div class="col-8 offset-2 mt-4" id="avaliacoes">
        <div class="py-2" style="border-top: 1px solid #000; border-bottom: 1px solid #000;">
            <h2 class="mt-3">Avaliações</h2>

            {% if avaliacoes %}
                <h2 class="pb-4" style="border-bottom: 1px solid #000;">Nota geral: {{ nota.nota }}/5 ({{ nota.num_avals }})</h2>
                {% for avaliacao in avaliacoes %}
                <div class="p-3 mt-2" style="border: 1px solid gray; background-color: #fafafa;">
                    <h6>Nota: {{ avaliacao.nota}}/5</h6>
                    <h6 style="margin-bottom: 15px;">Avaliado por: {{ avaliacao.id_user.username}} </h6>
                    <h4 style="border-bottom: 1px solid #000;">{{ avaliacao.titulo}} </h4>
                    <h5 class="ps-3">{{ avaliacao.texto}} </h5>
                </div>
                {% endfor %}
            {% else %}
                <h3>Seja o primeiro a avaliar este livro!</h3>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group mt-3">
                    <legend class="border-bottom mb-4">Deixe sua avaliação!</legend>
                    <i> <h6>Notas de 0 a 5*</h6> </i>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Postar</button>
                </div>
            </form>
        {% endif %}

    </div>
{% endblock content %}