{% extends 'base.html' %}

{% block content %}
    <div style="height: 30em;">
        <ul>
            <h3>Livros</h3>
            <li><a href="{% url 'livros' %}">Catalogo</a></li>
            <li><a href="{% url 'adicionar_livro' %}">Adicionar livro</a></li>
            <li><a href="{% url 'adicionar_categoria' %}">Adicionar categoria</a></li>

            <h3>User</h3>
            <li><a href="{% url 'user_register' %}">Cadastro</a></li>
            <li><a href="{% url 'tela_perfil' %}">Tela perfil</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
    </div>
{% endblock content %}