{% extends 'base.html' %}
{% block content %}
<style>
    .opcao_pagamento {
        font-size: 25px;
        font-weight: 700;
        cursor: pointer;
    }
</style>

<div class="container_multas" style="padding: 10px 15%;">
    <div class="card">
        <div class="tipo_pagamento" style="display: flex; justify-content: center; gap: 20px; margin: 5px 0;">
            <h5 id="cartao" class="opcao_pagamento">Cartão</h5>
            <h5 id="pix" class="opcao_pagamento">Pix</h5>
        </div>

        <div class="pagamento">
            <p>Escolha uma forma de pagamento</p>
            <form id="formPix" method="post" style="display:none;">
                {% csrf_token %}
                <input type="hidden" name="action" value="generate_pix">
                <button type="submit">Gerar QR Code Pix</button>
            </form>
        </div>

        <!-- {% if pix_qr %} -->
            <hr>
            <p><b>QR Code gerado:</b></p>
            <!-- <img src="data:image/png;base64,{{ pix_qr }}" width="200">
            <pre>{{ payment.pix_code }}</pre> -->
        <!-- {% endif %} -->

        <a href="{{ link_pagamento }}">botão</a>
    </div>
</div>

<script>
    const opcao_cartao = document.getElementById('cartao');
    const opcao_pix = document.getElementById('pix');
    const conteudo = document.querySelector('.pagamento p');
    const formPix = document.getElementById('formPix');

    let metodoAtivo = null;

    opcao_cartao.addEventListener('click', () => {
        metodoAtivo = 'cartao';
        atualizarEstado();
    });

    opcao_pix.addEventListener('click', () => {
        metodoAtivo = 'pix';
        atualizarEstado();
    });

    function atualizarEstado() {
        if (metodoAtivo === 'cartao') {
            conteudo.textContent = 'Pagamento via Cartão';
            formPix.style.display = 'none';
        } else {
            conteudo.textContent = 'Pagamento via Pix';
            formPix.style.display = 'block';
        }

        opcao_cartao.style.color = (metodoAtivo === 'cartao') ? 'blue' : 'black';
        opcao_pix.style.color = (metodoAtivo === 'pix') ? 'blue' : 'black';
    }
</script>
{% endblock %}
