{% extends 'base.html' %}
{% block content %}
<style>
    .card-perfil {
        min-height: 600px;
        max-height: 600px;
        overflow-y: auto;
        position: relative;
        padding-bottom: 70px; /* espaço pro botão não cobrir o conteúdo final */
    }

    .pos_fixa {
        position: sticky;
        bottom: 10px; /* um pequeno espaçamento do fundo */
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        z-index: 2; /* garante que fique acima do conteúdo rolável */
    }


    .alinhamento{
        text-align: start;
    }

    .multas{
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid #00000025;

        padding: 0;

        & .livros_multa{

            & h4{
                color: #F50000;

                font-size: 20px;
                margin-bottom: 3px;

                & p{
                    font-size: 17px;
                    margin-bottom: 0;
                }
            }
        }

        & .valor_multa{
            font-size: 20px;
            color: #F50000;
        }

    }

</style>

<div class="container_multas" style="padding: 10px 10%;">
    <div class="card-perfil d-flex flex-column gap-1 py-4 px-5">
        <h2 class="alinhamento">Multas a serem pagas</h2>

        <div class="multas_p_pagar">
            <div class="multas d-flex">
                <div class="livros_multa">
                    <h4>Em espera</h4>
                    <p>O livro 'Pequeno Príncipe' está atrasado para entrega.</p>
                </div>

                <p class="valor_multa">R$10,00</p>
            </div>
        </div>

        <a href="{{ link_pagamento }}">botão</a>
        <button id="adicionar" class="pos_fixa">adicionar</button>
    </div>
</div>

<script>
    const container = document.querySelector('.multas_p_pagar');

    document.getElementById('adicionar').onclick = () => {
        container.insertAdjacentHTML('beforeend', `
                                        <div class="multas d-flex">
                                            <div class="livros_multa">
                                                <h4>Em espera</h4>
                                                <p>O livro 'Pequeno Príncipe' está atrasado para entrega.</p>
                                            </div>
                                            <p class="valor_multa">R$10,00</p>
                                        </div>
                                    `);
    }
</script>

{% endblock %}
