{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Solução temporaria -->
<!-- <br><br><br><br><br><br><br> -->

<div class="col-10 d-flex justify-content-center container-principal-login-cadastro cadastro">
    <div class="col-md-8 offset-2 container-login-cadastro d-flex flex-column align-items-start py-4">
        <h2>Login</h2>
        <p class="fonte-responsiva">Coloque suas informações para criar uma conta.</p>
        <form method="POST">
            {% csrf_token %}
            
            {{ form|crispy }}
            
            <button>Cadastrar</button>

        </form>
        
        <div class="redirecionamento-cadastro-login fonte-responsiva">
            Já tem uma conta? <a href="{% url 'login' %}">Clique aqui</a>
        </div>
    </div>
</div>



<!-- Solução temporaria -->
<!-- <br><br><br> -->
{% endblock content %}