{% load static %}
<!-- Footer -->
<footer class="text-center text-lg-start" style="background-color: #1D3A8C; color: #FFF;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Biblioteca Estrela
          </h6>
          <p>
            Inspirados pela obra A Hora da Estrela, de Clarice Lispector,
            carregamos em nosso nome a ideia de que cada leitor é uma estrela em busca de sua própria hora, 
            o instante em que a leitura transforma, ilumina e dá voz. Nosso acervo reúne um vasto universo de obras e recursos, 
            para que cada pessoa encontre seu caminho entre páginas e palavras. Nossa missão é democratizar o acesso ao conhecimento, 
            tornando-o simples, rápido e ao alcance de todos.
          </p>
        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links Rápidos
          </h6>
          <p>
            <a href="#!" class="text-reset mb-4">Inicio</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Catalogo</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Perfil</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
          <p>Rua das Estrelas, 123 — Bairro Luz - São Paulo — SP</p>
          <p>
            <img src="{% static 'icone-telefone.svg' %}" alt="">
            +55 (11) 3123-4567
          </p>
          <p>
            <img src="{% static 'icone-email.svg' %}" alt="">
            contato@bibliotecaestrela.org
          </p>
          <p>
            <img src="{% static 'icone-info.svg' %}" alt="">
            Horário de funcionamento: Seg. a sex. das 09:00 até 19:00 - Sáb. das  09:00 até 18:00 
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: #1D3A8C;">
    2025  - São Paulo - SP - Biblioteca Estrela
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->