{% load static %}
<nav class="navbar navbar-expand-lg bg-body-primary navbar-dark" style="background-color: #1D3A8C;">
    <div class="container-fluid">
        <a href="/">
            <img src={% static "Logo_Biblioteca_Estrela-Photoroom_1-removebg-preview 2.svg" %}>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
        <!-- BLOCO PESQUISA (CENTRO) -->
                <form method="GET" id="searchForm" class="d-flex col-7 mx-auto nav-search">

                    <input type="text" name="busca_nome" id="searchInput" class="header-input" placeholder="Pesquisar" required>

                    <button type="submit" class="btn btn-primary btn-header ">Pesquisar</button>

                </form>

                <!-- Função de busca de livro por nome -->
                <script>
                    document.getElementById('searchForm').onsubmit = function(event) {
                        event.preventDefault();
                        var busca_nome = document.getElementById('searchInput').value;

                        // Previne busca com input vazio
                        if (busca_nome!= ''){
                            window.location.href = "{% url 'busca_nome' busca='__' %}".replace('__', busca_nome);
                        }
                    };
                </script>

        <!-- BLOCO LINKS (DIREITA) -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'livros' %}">Catalogo</a>
            </li>

            {% if user.is_superuser and request.path != '/user/cadastro/' and request.path != '/user/login/' %}
                <li class="nav-item img-perfil" id="img-perfil">
                    <img src="{% if user.imagem %}{{ user.imagem.url }}{% else %}{% static 'img/placeholder.png' %}{% endif %}" alt="">
                    <div class="opcoes-perfil">
                        <a href="{% url 'Bibliotecario:teste' %}">Inicio</a>
                        <a href="{% url 'Bibliotecario:emprestimos_atuais' %}">Emprestimos</a>
                        <a href="{% url 'Bibliotecario:livros_adm' %}">Acervo</a>
                        <a href="{% url 'Bibliotecario:emprestimos_historico' %}">Histórico</a>
                        <a href="{% url 'Bibliotecario:usuarios' %}">Perfis</a>
                        <a href="{% url 'Bibliotecario:dashboard' %}">Relatórios</a>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                </li>
            {% elif user.is_authenticated and request.path != '/user/cadastro/' and request.path != '/user/login/' %}
                <li class="nav-item img-perfil" id="img-perfil">
                    <img src="{% if user.imagem %}{{ user.imagem.url }}{% else %}{% static 'img/placeholder.png' %}{% endif %}" alt="">
                    <div class="opcoes-perfil">
                        <a href="{% url 'tela_perfil' %}">Perfil</a>
                        <a href="{% url 'historico_perfil' %}">Histórico</a>
                        <a href="notificacoes_perfil">Notificações</a>
                        <a href="{% url 'multas' %}">Multas</a>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'tela_perfil' %}">Perfil</a>
                </li>
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button class="nav-link" type="submit">Logout</button>
                    </form>
                </li> -->
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}

            </ul>
        </div>
    </div>
</nav>

<script>

    const imgPerfil = document.getElementById('img-perfil');
    const opcoes = imgPerfil.querySelector('.opcoes-perfil');
    let menuAberto = false;

    imgPerfil.addEventListener('mouseenter', () => {
        if (!menuAberto) {
            imgPerfil.style.borderColor = 'white';
        }
    });

    imgPerfil.addEventListener('mouseleave', () => {
        if (!menuAberto) {
            imgPerfil.style.borderColor = 'black';
        }
    });

    imgPerfil.addEventListener('click', (e) => {
        e.stopPropagation();
        menuAberto = !menuAberto;

        if (menuAberto) {
            opcoes.style.display = 'flex';
            imgPerfil.style.borderColor = 'white';
            imgPerfil.style.boxShadow = '0 0 8px rgba(255,255,255,0.6)'; // brilho opcional
        } else {
            opcoes.style.display = 'none';
            imgPerfil.style.borderColor = 'black';
            imgPerfil.style.boxShadow = 'none';
        }
    });

    document.addEventListener('click', () => {
        opcoes.style.display = 'none';
        imgPerfil.style.borderColor = 'black';
        imgPerfil.style.boxShadow = 'none';
        menuAberto = false;
    });
    
</script>