.btn-social-login{
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: center;

    margin-top: 20px;
}

.info-btn-social-login{
    display: flex;

    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
    color: #000000;
    /* gap: 30px; */

    width: 65%;


    border: 1px solid #00000050;
    border-radius: 30px;


    padding: 7px 10px;
}

.icon-social-login{
    width: 30px;
    align-self: flex-start;
}

.text-social-login{
    width: 100%;
    display: flex;
    justify-content: center;

    font-weight: 600;
}