/* Estilização dos cards */
.card-perfil{
    background-color: #ffffff;
    border-radius: 15px;

    box-shadow: 0 0 4px black;
}

.card-perfil.estatisticas{
    border-radius: 15px;
    height: 400px;
}


/* Estilização do título dos cards */
.card-perfil > h2{
    color: #1E3B8B;
    font-weight: 650;
    font-size: 25px;
}

/* Estilização dos labels */
label{
    font-size: 17px;
    margin-bottom: 5px;

    font-weight: 500;
}

/* Estilização dos inputs */
.input-wrapper{
    position: relative; /* Permite que o botão de editar fique dentro do input quando usar position: absolute; */
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

#id_username, #id_new_password, #id_email, #id_telefone, #id_cpf{
    width: 100%;
    height: 35px;

    font-size: 17px;

    background-color: #ffffff;

    border-color: #00000034;
    border-radius: 6px;

    padding-right: 70px;

    box-sizing: border-box;
}

.aviso-cpf{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);

    opacity: 1;
    white-space: nowrap;
    transition: transform 0.3s ease-in, opacity 0.5s ease;
}

.exclamacao{
    display: flex;
    left: 98%;
}

.mover{
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) translateX(-102%); /* mantém Y e move X */
}

.apagar{
    opacity: 0;
    transition: opacity 0.1s ease;
}

/* Estilização dos botões */
.editarBtn{
    background-color: transparent;
    border: none;

    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    color: #2C3963;
    font-weight: 640;
    
}

/* Estilização do botão de salvar */
.estilizacao{
    background-color: #1D3A8C;
    color: #ffffff;

    padding: 4px;

    border: none;
    border-radius: 6px;

    font-size: 20px;
    font-weight: 500
}

/* Estilização campo imagem */
.imagem{
    position: relative;

    width: 125px;
    height: 125px;

    border-radius: 50%;
    border: 2px solid #ccc;

    overflow: hidden;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f0f0f0;
    
    transition: 0.3s;

    margin: 10px 0;
}

.imagem-label{
    margin-bottom: 0;
}

.imagem:hover {
    opacity: 0.85;
    border-color: #888;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* texto centralizado */
.placeholder-text {
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: #666;
    pointer-events: none;
}

/* esconde o texto quando há imagem */
.imagem img[src] + .placeholder-text {
    display: none;
}

/* esconde o input */
input[type="file"] {
    display: none;
}

/* Estilização estatísticas */
/* Estilização do título dos cards */
.campo_estatisticas > h2{
    color: #1E3B8B;
    font-weight: 650;

    font-size: 25px;
}

.info-estatisticas{
    font-size: 20px;

    padding: 0 15px;
}

.info-estatisticas > p{
    border: transparent;
    border-bottom: 1px solid #00000030;

    width: 100%;

    padding-bottom: 5px;
    /* margin-bottom: 5px; */

    font-size: 17px;

    display: flex;
    justify-items: space-between;
}