/* Estilização dos cards */
.card-perfil{
    background-color: #ffffff;
    border-radius: 15px;

    box-shadow: 0 0 4px black;
}

.estatisticas{
    border-radius: 15px;
    max-height: 400px;
    overflow-y: auto;
}

.estatisticas::-webkit-scrollbar{
    width: 10px;
}

.estatisticas::-webkit-scrollbar-track {
  background: transparent;

}

/* Estilização do título dos cards */
.card-perfil h2{
    color: #1E3B8B;
    font-weight: 650;
    font-size: 25px;
}

/* Estilização btn deletar */
.btn-modal-perfil{
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;

    color: #F50000;

    cursor: pointer;
}

/* Estilização dos labels */
label{
    font-size: 17px;
    margin-bottom: 5px;

    font-weight: 500;
}

/* Estilização dos inputs */
.input-wrapper{
    position: relative; /* Permite que o botão de editar fique dentro do input quando usar position: absolute; */
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

#id_username, #id_new_password, #id_email, #id_telefone, #id_cpf, #id_password, #id_password1, #id_password2{
    width: 100%;
    height: 35px;

    font-size: 17px;

    background-color: #ffffff;

    border-color: #00000034;
    border-radius: 6px;

    padding-right: 70px;

    box-sizing: border-box;
}

.aviso-cpf{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);

    opacity: 1;
    white-space: nowrap;
    transition: transform 0.3s ease-in, opacity 0.5s ease;
}

.aviso-cpf-celular{
    display: none;
}

.exclamacao{
    display: flex;
    left: 98%;
    margin-right: 40px;
    /* right: 200px; */
}

.mover{
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) translateX(-102%); /* mantém Y e move X */
}

.apagar{
    opacity: 0;
    transition: opacity 0.1s ease;
}

/* Estilização dos botões */
.editarBtn{
    background-color: transparent;
    border: none;

    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    color: #2C3963;
    font-weight: 640;
    
}

/* Estilização do botão de salvar */
.estilizacao{
    background-color: #1D3A8C;
    color: #ffffff;

    padding: 4px;

    border: none;
    border-radius: 6px;

    font-size: 20px;
    font-weight: 500
}

/* Estilização campo imagem */
.imagem{
    position: relative;

    width: 125px;
    height: 125px;

    border-radius: 50%;
    border: 2px solid #ccc;

    overflow: hidden;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f0f0f0;
    
    transition: 0.3s;

    margin: 10px 0;
}

.imagem-label{
    margin-bottom: 0;
}

.imagem:hover {
    opacity: 0.85;
    border-color: #888;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* texto centralizado */
.placeholder-text {
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: #666;
    pointer-events: none;
}

/* esconde o texto quando há imagem */
.imagem img[src] + .placeholder-text {
    display: none;
}

/* esconde o input */
input[type="file"] {
    display: none;
}

/* Estilização do título dos cards */
.campo_estatisticas > h2{
    color: #1E3B8B;
    font-weight: 650;

    font-size: 25px;

    margin-bottom: 20px;
}

.info-estatisticas{
    padding: 0 15px;
    display: flex;
    justify-items: space-around;
    border-bottom: 1px solid #00000030;

    justify-self: center;
    align-content: center;

    width: 90%;

    margin-bottom: 10px;
}

/* .info-estatisticas:last-child{
    border-bottom: 0;
} */

.info-estatisticas > p{
    border: transparent;
    

    text-align: start;

    width: 100%;

    /* padding-bottom: 5px; */
    margin-bottom: 10px;

    font-size: 17px;

    /* height: 100%; */
}

@media(max-width:1720px){
    .exclamacao{
        left: 97%;
    }
}

@media(max-width:1350px){
    
    .exclamacao{
        left: 96%;
    }
}

@media(max-width:1200px){
    .info-estatisticas{
        padding: 0 48px;
    }

    .estilizacao{
        padding: 4px;

        border: none;
        border-radius: 6px;

        font-size: 15px;
    }
}

@media(max-width:1024px){
    .aviso-cpf{
        display: none;
    }

    .aviso-cpf-celular{
        display: flex;
        justify-content: center;

        color: #00000060;
        font-style: italic;
        font-size: 10px;
    }

    .exclamacao{
        display: none;
    }
}

@media(max-width:970px){
    .card-perfil{
        border-radius: 13px;
    }

    .card-perfil h2{
        font-size: 20px;
    }

    .imagem{
        width: 90px;
        height: 90px;

        margin: 10px 0;
    }

    .info-estatisticas{
        margin-bottom: 5px;
    }

    .info-estatisticas > p{
        padding-bottom: 4px;

        font-size: 12px;

        margin-bottom: 2px;
    }

    .info-estatisticas-numeros{
        padding-bottom: 4px;
        font-size: 12px;
    }

    .editarBtn{
        font-size: 12px;
        right: 6px;
    }

    label{
        font-size: 12px;
        margin-bottom: 4px;
    }

    #id_username, #id_new_password, #id_email, #id_telefone, #id_cpf, #id_password, #id_password1, #id_password2{
        height: 30px;

        font-size: 12px;

        border-radius: 4px;

        padding-right: 60px;

        border: 1px solid #00000034;
    }

    .estilizacao{
        padding: 2px;

        border: none;
        border-radius: 3px;

        font-size: 15px;
    }
    
}

@media(max-width:920px){
    .editarBtn{
        font-size: 13px;

        padding: 0 3px;

        right: 7px;
    }
}

@media(max-width:767px){
    .info-estatisticas{
        padding: 0 24px;
    }
}

@media(max-width:600px){
    .card-perfil{
        border-radius: 11px;
    }

    .card-perfil h2{
        font-size: 17px;
    }

    .imagem{
        width: 75px;
        height: 75px;

        margin: 10px 0;
    }

    .info-estatisticas{
        margin-bottom: 5px;
    }

    .info-estatisticas > p{
        padding-bottom: 4px;

        font-size: 9px;
        margin-bottom: 0px;
    }

    .info-estatisticas-numeros{
        font-size: 9px;
    }

    .editarBtn{
        font-size: 9px;
    }
    
    .aviso-cpf-celular{
        font-size: 8px;
    }

    label{
        font-size: 9px;
        margin-bottom: 3px;
    }

    #id_username, #id_new_password, #id_email, #id_telefone, #id_cpf, #id_password, #id_password1, #id_password2{
        height: 25px;

        font-size: 9px;

        border-radius: 4px;

        padding-right: 60px;
    }

    .estilizacao{
        padding: 2px;
        border-radius: 3px;

        font-size: 12px;
    }
}

/* @media(max-width:450px){
    .card-perfil{
        border-radius: 10px;

        height: 300px;
    }

    .card-perfil h2{
        font-size: 14px;
    }

    .imagem{
        width: 50px;
        height: 50px;

        margin: 10px 0;
    }

    .info-estatisticas > p{
        padding-bottom: 3px;

        font-size: 6px;
    }

    .editarBtn{
        font-size: 6px;
    }

     .aviso-cpf-celular{
        font-size: 5px;
    }

    label{
        font-size: 6px;
        margin-bottom: 2px;
    }

    #id_username, #id_new_password, #id_email, #id_telefone, #id_cpf{
        height: 20px;

        font-size: 6px;

        border-radius: 4px;

        padding-right: 60px;
    }
} */