body{
    background-color: #F6F7FB !important;
}
/* *{border: 1px solid red;} */

.nav-link, .btn{
    color: #fff;
    margin-right: 6em;
    margin-left: 1em
}

.vermais{
    color: #fff;
    margin-right: 0em;
    margin-left: 0em
}

.header-input {
    border-radius: 20px;
    flex: 1;
    min-width: 200px;
    max-width: 800px;
    height: 2.8em;
    padding-left: 1em;
}

.btn-header {
    background-color: #438DDE;
    border-radius: 20px;
    width: 10em;
    margin-left: .5em;
    height: 2.8em;
}

.nav-link, .btn {
    color: #fff;
}

.nav-link{
    margin:  0px;
}

.footer-title{
    font-size: 24px;
}